fastapi[standard]==0.137.1

psi-datahub==1.1.13
numpy==2.4.6
h5py==3.16.0
requests==2.34.2
cbor2==6.1.2
python-dateutil==2.9.0.post0
pytz==2026.2
pandas==3.0.3
psutil==7.2.2
pymongo==4.17.0
jsonschema==4.26.0
orjson==3.11.9
setuptools==82.0.1