name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6

      - run: |
          pip install --upgrade pip
          pip install -r testing_requirements.txt

      - run: pytest -n auto
